@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Patient

<h2>Edit</h2>

<h4>Edit this patient: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PatientId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.BirthDate)
  @Html.EditorFor(model => model.BirthDate)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Kill a patient", "Delete", new { id = Model.PatientId })</p>